
#b1, #b2, #b3, #b4, #b5, #b6 ,#b7, #b8,#b9{
	width: 80px;
	height: 50px;
	margin: auto;
	border: 3px solid black;
	border-radius: 5px;
	font-size: 30px;
	text-align: center;
	background-color:#00bfff;
	padding: 1px;
	margin-top: -15px;
}

#bt{
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid green;
	border-radius: 4px;
	font-family: Verdana,Geneva, Tahoma, sans-serif;
	border-color: yellow;
	color: green;
	font-size: 20px;
	cursor: pointer;
}
#Oputput{
	font-family: Verdana,Geneva, Tahoma, sans-serif;
	color: green;
	font-size: 20px;
}
#main{
	text-align: center;
	background-color: #210000;
	
}
#ps{
	font-family: Verdana,Geneva, Tahoma, sans-serif;
	color: #00ffff;
	font-size: 30px;
	margin-top: 20px;
}

#scl{
  margin-left: 1px;
  margin-right: 1px;
  background:#40ff00;
  font-size: 30px;
  border-radius: 5px;
  color: black;
  outline: none;
 margin-top: -18px;
   transition: all 0.10s;
   border-top: 4px solid lightgrey;
   font-family: Verdana,Geneva, Tahoma, sans-serif;
}
#scl12{
  margin-left: 1px;
  margin-right: 1px;
  background: #40ff00;
  font-size: 30px;
  color: black;
  border-radius: 5px;
  
  outline: none;
  cursor: pointer;
  transition: all 0.10s;
   border-bottom: 4px solid lightgrey;
   font-family: Verdana,Geneva, Tahoma, sans-serif;
}
